<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        {% set i=1 %}
                        {% for rs in sliders %}
                            <div class="item {% if i==1 %}active{% endif %}">

                                <div class="col-sm-6">
                                    <h1>{{ rs.title }}</h1>
                                    <p>{{ rs.description }} </p>
                                    <button type="button" class="btn btn-default get">Get it now</button>
                                </div>

                                <div class="col-sm-6">
                                    <a href="{{ path('product_detail',{'id':rs.id}) }}">
                                    <img width="70%" src="{{ asset('uploads') }}/images/{{ rs.image }}" class="girl img-responsive" alt="" />
                                    </a>
                                    <img src="images/home/pricing.png"  class="pricing" alt="" />

                                </div>
                            </div>
                            {% set i=i+1 %}
                        {% endfor %}
                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->