{% extends 'frontbase.html.twig' %}

{% block title %}  {{ data[0].title }}{% endblock %}
{% block keywords %}{{ data[0].keywords }}{% endblock %}
{% block description %}{{ data[0].description }}{% endblock %}
{% block sidebar %} {% include 'home/_sidebar.html.twig' %} {% endblock %}

{% block content %}
    <div class="features_items"><!--features_items-->
        <h2 class="title text-center">{{ data[0].title }}</h2>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                {% for rs in products %}
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img  width="40%" src="{{ asset('uploads') }}/images/{{ rs.image }}" alt="">
                        <h2>{{ rs.sprice }}</h2>
                        <p>{{ rs.title }}</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
