{% extends 'adminbase.html.twig' %}

{% block title %}Orders index{% endblock %}
{% block sidebar %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% include 'home/_usersidebar.html.twig' %}
    {% endif %}
{% endblock %}
{% block content %}
    <section id="cart_items">
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                <tr class="cart_menu">
                    <th>Id</th>
                    <th>Userid</th>
                    <th>Amount</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Shipinfo</th>
                    <th>Status</th>
                    <th>Note</th>
                    <th>Actions</th>

                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.userid }}</td>
                        <td>{{ order.amount }}</td>
                        <td>{{ order.name }}</td>
                        <td>{{ order.address }}</td>
                        <td>{{ order.city }}</td>
                        <td>{{ order.shipinfo }}</td>
                        <td>{{ order.status }}</td>
                        <td>{{ order.note }}</td>
                        <td><a href="{{ path('admin_orders_show', {'id': order.id}) }}">show</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="12">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section> <!--/#cart_items-->

{% endblock %}
