
<form role="form" method="post">
    <h3>Üye Formu</h3>
    <div class="form-group has-success">

        <label class="text-success"  > Üst Kategori </label>
        <select  name="category[parentid]" class="col-sm-5">


            <option value="{{ category.parentid }}">{{ category.parentid }}</option>


            <option value="0">Ana Kategori</option>
            {% for cat in catlist %}
                    <option value="{{ cat.id }}">{{ cat.title }}</option>
                {% endfor %}


        </select>
    </div>
    <div class="form-group has-success">

        <label class="text-danger" >Kategori Adı</label>
        <input type="text"  name="category[title]" value="{{ category.title }}" class="col-sm-5" placeholder="Kategori Adı" >
    </div>
    <div class="form-group has-warning">
        <label class="p-3 mb-2 bg-dark text-white" > Anahtar Kelimeler</label>
        <input type="text"  name="category[keywords]" value="{{ category.keywords }}" class="col-sm-5" placeholder="Anahtar Kelimeler" >
    </div>
    <div class="form-group has-warning">
        <label class="p-3 mb-2 bg-dark text-white" >Kısa Açıklama</label>
        <input type="text"  name="category[description]" value="{{ category.description }}" class="col-sm-5" placeholder="Kısa Açıklama" >
    </div>

    <div class="form-group has-error">
        <label class="p-3 mb-2 bg-dark text-white" >Aktif Durumu</label>
        <select  name="category[status] " class="col-sm-5">
            <option>{{ category.status }}</option>
            <option>True</option>
            <option selected>False</option>

        </select>
    </div>
    <div class="form-group has-success">

        <button type="submit" class="btn btn-success ">İptal</button>
        <button type="submit" class="btn btn-info pull-right">Kaydet</button>
    </div>
</form>
